{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit user'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Edit user'|trans }}</h1>

    {{ include('admin/user/_form.html.twig', {'button_label': {{ 'Update'|trans }}}) }}

    <a href="{{ path('user_index') }}">{{ 'Back to list'|trans }}</a>

    {{ include('admin/user/_delete_form.html.twig') }}
{% endblock %}
