{% extends 'base.html.twig' %}

{% block title %}{{ 'User index'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'User index'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Id'|trans }}</th>
                <th>{{ 'Username'|trans }}</th>
                <th>{{ 'Email'|trans }}</th>
                <th>{{ 'LastSession'|trans }}</th>
                <th>{{ 'Modified'|trans }}</th>
                <th>{{ 'Created'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.lastSession ? user.lastSession|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.modified ? user.modified|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.created ? user.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">{{ 'Show'|trans }}</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">{{ 'Edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">{{ 'No records found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">{{ 'Create new'|trans }}</a>
{% endblock %}
