{% extends 'base.html.twig' %}

{% block title %}{{ 'User'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'User'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'Id'|trans }}</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Username'|trans }}</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>{{ 'Email'|trans }}</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>{{ 'Password'|trans }}</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>{{ 'LastSession'|trans }}</th>
                <td>{{ user.lastSession ? user.lastSession|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'Modified'|trans }}</th>
                <td>{{ user.modified ? user.modified|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'Created'|trans }}</th>
                <td>{{ user.created ? user.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">{{ 'Back to list'|trans }}</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">{{ 'Edit'|trans }}</a>

    {{ include('admin/user/_delete_form.html.twig') }}
{% endblock %}
