<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SATRepairCRM Tracker</title>
    <link rel="shortcut icon" href="{{ asset('build/images/favicon.ico') }}" type="image/x-icon">

    {% block stylesheets %}
        {{ encore_entry_link_tags('tracker') }}
    {% endblock %}
</head>
<body>
    <div class="tracker__block">
        <img src="{{ asset('build/images/logo.png') }}" alt="SATRepairCRM Logo">

        {{ include('tracker/_form.html.twig') }}

        <div id="content__block"></div>
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('tracker') }}
    {% endblock %}
</body>
</html>
