{% extends 'base.html.twig' %}

{% block title %}{{ 'New repair'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'New repair'|trans }}</h1>

    {{ include('admin/repair/_form.html.twig') }}

    <a href="{{ path('repair_index') }}">{{ 'Back to list'|trans }}</a>
{% endblock %}
