<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SATRepairCRM</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">

    {% block stylesheets %}
        {% for stylesheet in sonata_config.getOption('stylesheets', []) %}
            <link rel="stylesheet" href="{{ absolute_url(asset(stylesheet)) }}">
        {% endfor %}
    {% endblock %}
</head>
<body>
<main>
    <div class="row">
        <div class="col-md-12">
            <img src="{{ absolute_url(asset('build/images/logo-rec.png')) }}" alt="SATRepairCRM Logo" style="margin-bottom: 50px;width:100%;">
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-xs-4">
                <b>{{ 'Code'|trans }}:</b>
                <span>{{ repair.code }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <b>{{ 'Date'|trans }}:</b>
                <span>{{ repair.created|date("m/d/Y") }}</span>
            </div>
        </div>
    </div>
    <div style="margin-top: 10px;">
        <div class="row">
            <div class="col-xs-7">
                <b>{{ 'Customer'|trans }}:</b>
                <span>{{ repair.customer }}</span>
            </div>
        </div>
    </div>
    <div style="padding-bottom: 50px;">
        <div class="row">
            <div class="col-xs-12">
                <b>{{ 'Fault'|trans }}:</b>
                <span>{{ repair.fault }}</span>
            </div>
        </div>
    </div>
    <div>
        <table class="table table-condensed">
            <tr>
                <th>{{ 'Product'|trans }}</th>
                <th>{{ 'Quantity'|trans }}</th>
                <th>{{ 'Price (unit)'|trans }}</th>
                <th>{{ 'Total'|trans }}</th>
            </tr>
            {% for hasProduct in repair.products %}
                <tr>
                    <td>{{ hasProduct.product.name }}</td>
                    <td>{{ hasProduct.quantity }}</td>
                    <td>{{ (hasProduct.product.price ?? 0.00)|number_format(2) }} €</td>
                    <td>{{ ((hasProduct.product.price ?? 0.00) * hasProduct.quantity)|number_format(2) }} €</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <table style="width: 30%;float: right;">
            <tr>
                <td>{{ 'Subtotal'|trans }}</td>
                <td>{{ subtotal|number_format(2) }} €</td>
            </tr>
            <tr>
                <td>{{ 'Labour Price'|trans }}</td>
                <td>{{ (repair.labourPrice ?? 0.00)|number_format(2) }} €</td>
            </tr>
            <tr>
                <td>{{ 'Tax'|trans }}</td>
                <td>{{ tax }} %</td>
            </tr>
            <tr>
                <td><b>{{ 'TOTAL'|trans }}</b></td>
                <td>{{ total|number_format(2) }} €</td>
            </tr>
        </table>
    </div>
</main>
</body>
</html>