<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SATRepairCRM</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">

    {% block stylesheets %}
        {% for stylesheet in sonata_config.getOption('stylesheets', []) %}
            <link rel="stylesheet" href="{{ absolute_url(asset(stylesheet)) }}">
        {% endfor %}
    {% endblock %}
</head>
<body>
    <main>
        <div class="row">
            <div class="col-md-12 document-logo">
                <img src="{{ absolute_url(asset('build/images/logo-rec.png')) }}" alt="SATRepairCRM Logo">
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-xs-4">
                    <b>{{ 'Code'|trans }}:</b>
                    <span>{{ repair.code }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <b>{{ 'Date'|trans }}:</b>
                    <span>{{ repair.created|date("m/d/Y") }}</span>
                </div>
            </div>
        </div>
        <div style="margin-top: 10px;">
            <div class="row">
                <div class="col-xs-7">
                    <b>{{ 'Customer'|trans }}:</b>
                    <span>{{ repair.customer }}</span>
                </div>
                <div class="col-xs-5">
                    <b>{{ 'Phone'|trans }}:</b>
                    <span>{{ repair.customer.phone }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <b>{{ 'Category'|trans }}:</b>
                    <span>{{ repair.category }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-7">
                    <b>{{ 'Colour'|trans }}:</b>
                    <span>{{ repair.colour }}</span>
                </div>
                <div class="col-xs-5">
                    <b>{{ 'IMEI'|trans }}:</b>
                    <span>{{ repair.imei }}</span>
                </div>
            </div>
        </div>
        <div style="margin-top: 10px;padding-bottom: 100px;border-bottom: 1px solid #AAAAAA;">
            <div class="row">
                <div class="col-xs-12">
                    <b>{{ 'Fault'|trans }}:</b>
                    <span>{{ repair.fault }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <b>{{ 'Pattern'|trans }}:</b>
                    <span>{{ repair.pattern }}</span>
                </div>
            </div>
        </div>
        <div style="margin-bottom: 10px;border-bottom: 1px solid #AAAAAA;">
            <div class="row">
                <div class="col-xs-12">
                    <small>
                        {{ 'Attended by'|trans }}:
                    </small>
                </div>
            </div>
            <div class="row" style="padding-top: 80px;margin-bottom: 10px;">
                <div class="col-xs-12 text-right">
                    {{ 'Customer sign'|trans }}:_______________
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-xs-12">
                    <p>{{ 'Track your repair'|trans }} <b>{{ url('tracker_index') }}</b></p>
                </div>
            </div>
        </div>
        <div style="font-size: 12px;">
            <div class="row">
                <div class="col-xs-12">
                    <p>{{ 'The warranty period for repairs will be 6 months'|trans }}.</p>
                </div>
                <div class="col-xs-12" style="margin-top: 20px;">
                    <p>{{ 'Failures caused by malware, viruses or other malicious software are exempt from warranty'|trans }}.</p>
                </div>
            </div>
        </div>
        <div style="font-size: 12px;">
            <div class="row">
                <div class="col-xs-12">
                    <p>{{ 'Check our privacy policy'|trans }} {{ url('privacy') }}</p>
                </div>
                <div class="col-xs-12" style="margin-top: 20px;">
                    <p>{{ 'Check our terms and conditions'|trans }} {{ url('terms') }}</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>