<p>
    <img width="15%" src="{{ email.image('@images/logo-slogan.png') }}" alt="SATRepairCRM Logo">
</p>

<div>
    <p>{{ 'Repair status'|trans }} ({{ message.code }}) {{ 'has been updated to'|trans }} <u><b>{{ message.status }}</b></u></p>
    <a href="{{ url('tracker_index') }}">{{ 'Check your repair here'|trans }}</a>
</div>

<p>
    <i>{{ 'This e-mail is automatic. Please do not reply to it'|trans }}.</i>
</p>